<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form class="list" ng-submit="loginData">

      <div class="spacer_md"></div>

      <ion-list>
        <label class="item item-input item-floating-label" name="Email">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="loginData.email">
        </label>
        <label class="item item-input item-floating-label" name="Password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
      </ion-list>

      <div class="spacer_sm"></div>

      <a class="button button-positive button-block button-outline" ng-click="logInUserCTA(loginData)">Log in</a>
      <a ui-sref="signup_personal()" class="button button-balanced button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>