<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">NYE<e>{{currentUser.name}}</e></div>
      
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list>
        <ion-item class="item-icon-right" ui-sref="menu.dashboard()" menu-close="">Dashboard
          <i class="icon ion-ios-speedometer"></i>
        </ion-item>
        <ion-item class="item-icon-right" ui-sref="menu.demos()" menu-close="">Demos
          <i class="icon ion-clipboard"></i>
        </ion-item>
        <ion-item class="item-icon-right" ui-sref="menu.stats()" menu-close="">Stats
          <i class="icon ion-stats-bars"></i>
        </ion-item>
        <ion-item class="item-icon-right adminMenuButton" ui-sref="menu.admin()" menu-close="">Admin
          <i class="icon ion-android-unlock"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="logoutCTA()" menu-close="">Log Out
          <i class="icon ion-log-out"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>