<ion-view title="Signup_empoyee" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="signup_empoyee-heading1" style="color:#444444;text-align:center;">Employee Info</h3>
    <form id="signup_empoyee-form3" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <ion-list id="signup_empoyee-list4">
        <label class="item item-input item-floating-label" id="signup_empoyee-input7" name="Bank Account">
          <span class="input-label">Bank Account</span>
          <input type="number" placeholder="Bank Account">
        </label>
        <label class="item item-input item-floating-label" id="signup_empoyee-input8" name="Email">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label" id="signup_empoyee-input9" name="Password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password">
        </label>
        <label class="item item-input item-floating-label" id="signup_empoyee-input14" name="Confirm Password">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="Confirm Password">
        </label>
      </ion-list>
      <a ui-sref="login()" id="signup_empoyee-button4" class="button button-balanced button-block button-outline">Sign In</a>
    </form>
  </ion-content>
</ion-view>