<ion-view title="Signup_personal" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none"
  id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">

    <h3 class="authHeader">Personal Info</h3>

    <form class="list" ng-submit="signPersonalData">
      <div class="spacer_sm"></div>
      <ion-list>
        <label class="item item-input item-floating-label" name="Name">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name" ng-model="signPersonalData.name">
        </label>
        <label class="item item-input item-floating-label" name="Address">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Address" ng-model="signPersonalData.address">
        </label>
        <label class="item item-input item-floating-label" name="Phone #">
          <span class="input-label">Phone #</span>
          <input type="tel" placeholder="Phone #" ng-model="signPersonalData.phone">
        </label>
      </ion-list>
      <div class="spacer_sm"></div>


      <a ng-click="signContinueCTA(signPersonalData)" class="button button-balanced button-block button-outline">Continue</a>
    </form>
  </ion-content>
</ion-view>