<ion-view title="Signup_personal" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="signup_personal-heading2" style="color:#444444;text-align:center;">Personal Info</h3>
    <form id="signup_personal-form2" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <ion-list id="signup_personal-list3">
        <label class="item item-input item-floating-label" id="signup_personal-input3" name="Name">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input item-floating-label" id="signup_personal-input5" name="Address">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Address">
        </label>
        <label class="item item-input item-floating-label" id="signup_personal-input6" name="Phone #">
          <span class="input-label">Phone #</span>
          <input type="tel" placeholder="Phone #">
        </label>
      </ion-list>
      <a ui-sref="signup_empoyee()" id="signup_personal-button3" class="button button-balanced button-block button-outline">Continue</a>
    </form>
  </ion-content>
</ion-view>