<ion-modal-view>
  <ion-header-bar class="modalListHeader">
    <h1 class="title">{{modalData.title}}</h1>
    <button class="button button-icon icon ion-close" ng-click="adminListModal.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <!-- <div class="spacer_sm"></div> -->
    <ion-list class="modalAdminList">

      <a class="item employeeListItem" ng-repeat="item in modalData.data">

        {{item.name}}

        <div ng-if="modalData.type == 'employee'" class="positive" ng-class="employeeListStatus(item)">
         
          {{item.status}}
        </div>

      </a>


    </ion-list>
  </ion-content>
</ion-modal-view>