<ion-modal-view>
  <ion-header-bar class="modalListHeader">
    <h1 class="title">{{modalData.title}}</h1>
    <button class="button button-icon icon ion-close" ng-click="adminFormModal.hide()"></button>
  </ion-header-bar>
  <ion-content class="adminFormModal">
    

    <label class="item card item-input" ng-hide="newDemo">
      <input type="text" placeholder="Demo Name" ng-model="demoData.name">
    </label>
    <ion-item class="card" ng-show="newDemo">
      {{newDemo.name}}
    </ion-item>

    <div class="card">
      <form class="list" ng-submit="demoData">
        <ion-list>

          <label class="item item-input">
            <input type="text" placeholder="Question" ng-model="demoData.question">
          </label>

          <div class="spacer_sm"></div>

          <div class="formButtonblock" ng-hide="newDemoOptions">

            <a class="button  button-outline button-positive" ng-click="createDemoOptionCTA()">Options</a>
            <a class="button  button-outline button-positive" ng-click="createDemoTypeCTA('number', demoData)">Number</a>
            <a class="button  button-outline button-positive" ng-click="createDemoTypeCTA('text', demoData)">Text</a>
            <a class="button  button-outline button-positive" ng-click="createDemoTypeCTA('yes/no', demoData)">Yes / No</a>

          </div>

          <div class="demoOptionForms" ng-show="newDemoOptions">
            <div class="item item-input-inset" ng-repeat="item in newDemoOptions">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Option {{$index + 1}}" ng-model="item.name">
              </label>
              <a class="button button-small icon ion-close assertive" ng-click="removeFromDemoOptionsCTA($index)"></a>
            </div>
            <div class="spacer_sm"></div>
            <div class="btn_groupThree">
              <a class="button button-stable button-small" ng-click="cancelDemoOptionCTA()">Cancel</a>
              <a class="button button-balanced button-small" ng-click="demoOptionAddOptionCTA()">Add Option</a>
              <a class="button button-positive button-small" ng-click="nextDemoOptionsCTA(demoData)">Next</a>
            </div>

          </div>

        </ion-list>
      </form>
    </div>

    <div class="card demoQuestionsCard" ng-repeat="item in newDemo.questions" >
      {{item.name}}
      <div class="questionsCardOptions" >
        <div ng-show="item.type == 'options'" ng-repeat="x in item.options" class="questionOption">{{x}}</div>
        <e ng-hide="item.options">{{item.type}}</e>
      </div>
    </div>

    <a class="button button-block button-positive" ng-show="newDemo" ng-click="completeDemoFormCTA(demoData)">Complete Demo</a>
    <div class="spacer_lg"></div>
  </ion-content>
</ion-modal-view>